  <section class="container">
    <div>
        <h1>Lista de contadores</h1>
        <div class="page-header">
          <div class="search-box">
            <input type="text" class="search-bar" placeholder="Procurar por nome">
            <img class="search-icon" src="../../../../assets/images/search-btn.png" alt="Lupa"></div>
          <button class="btn-add" routerLink="/createAccountant">Adicionar contador</button>
        </div>
    </div>  
    <app-accountant [listAccountants]="listAccountants">
      <ng-template let-accountant #actions>  
         <button class="btn-edit">
            <img src="../../../../assets/images/edit-btn.png" alt="Editar" [routerLink]="['/editAccountant', accountant.id]">
        </button>
        <button class="btn-delete">
            <img src="../../../../assets/images/delete-btn.png" alt="Excluir">
        </button>
      </ng-template>
    </app-accountant>
  </section>
