  <section class="container">
    <div>
        <h1>Lista de contadores</h1>
        <div class="page-header">
          <div class="search-box">
            <input type="text" class="search-bar" placeholder="Procurar por nome">
            <img class="search-icon" src="../../../../assets/images/search-btn.png" alt="Lupa"></div>
          <button class="btn-add" routerLink="/createAccountant">Adicionar contador</button>
        </div>
    </div>  
    <table class="table-section" *ngIf="listAccountants.length > 0; else noAccountants" >
      <thead class="table-header">
        <tr>
          <th class="table-cell-nome">Nome</th>
          <th class="table-cell-cpf">CPF</th>
          <th class="table-cell-codigo">Código</th>
          <th class="table-cell-situacao">Situação</th>
          <th class="table-cell-acoes">Ações</th>
        </tr>
      </thead>
      <tbody class="table-form">
        <tr *ngFor="let accountant of listAccountants">
          <td class="table-cell-nome">{{ accountant.name }}</td>
          <td class="table-cell-cpf">{{ accountant.registrationNumber }}</td>
          <td class="table-cell-codigo">{{ accountant.accountantCode }}</td>
          <td class="table-cell-situacao">{{ accountant.isActive ? 'Ativo' : 'Inativo' }}</td>
          <td class="table-cell-acoes">
            <button class="btn-edit">
                <img src="../../../../assets/images/edit-btn.png" alt="Editar" [routerLink]="['/editAccountant', accountant.id]">
            </button>
             <button class="btn-delete">
                <img src="../../../../assets/images/delete-btn.png" alt="Excluir">
            </button>
          </td>

      
      <!-- Perguntar sobre essa implementação de ngFor ele gera o <app-accountant> que não deixa o conteudo ser formatado (desacoplamento) 
        <tbody class="table-form">
        <ng-container *ngFor="let accountant of listAccountants">
          <app-accountant [accountant]="accountant"></app-accountant>
        </ng-container>
      </tbody> -->
      
    </table>
  </section>
  <ng-template #noAccountants>
    <div>
      <p>Ainda não há contadores cadastrados!</p>
    </div>
  </ng-template>
  