  <section class="container">
    <div>
        <h1>Lista de contadores</h1>
        <div class="page-header">
          <div class="search-box">
            <input type="text" class="search-bar" placeholder="Procurar por nome"
            [(ngModel)] = "nameFilter"
            (keyup)="onKeyDown.next($event)">
            <img class="search-icon" src="../../../../assets/images/search-btn.png" alt="Lupa">
          </div>
          <button class="btn-add" routerLink="/createAccountant">Adicionar contador</button>
        </div>
    </div>  
    <app-accountant [listAccountants]="listAccountants">
      <ng-template let-accountant #actions>  
         <button class="btn-edit">
            <img src="../../../../assets/images/edit-btn.png" alt="Editar" [routerLink]="['/editAccountant', accountant.id]">
        </button>
        <button class="btn-delete">
          <!-- passa o valor de id para a confirmação do delete -->
            <img src="../../../../assets/images/delete-btn.png"
            (click)="renderDeleteConfirmation(accountant.id)">
        </button>
      </ng-template>
    </app-accountant>
      <!-- lógica de deletar fica na lista, porque eu não estou roteando para outra pagina-->
    <app-delete-accountant *ngIf="showDeleteConfirmation" (confirmation)="onDeleteConfirm($event)"></app-delete-accountant>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="10">
    </mat-paginator>
  </section>
