<div class="container">
    <section class="form-section">
        <header class="form-header">Edite os dados do cliente</header>
        <form [formGroup]="clientForm" class="client-form">
            <div class="form-group">
                <label for="name" class="form-label">Nome:</label>
                <input
                type="text"
                class="form-input"
                id="name"
                formControlName="name"
                placeholder="Digite o nome cliente"
                >
                <div *ngIf=" clientForm.get('name')?.touched && clientForm.get('name')?.errors" class="invalid-feedback">
                    {{ getErrorMessage('name') }}
                </div>
            </div>
            <div class="form-group">
                <label for="fantasyName" class="form-label">Nome fantasia:</label>
                <input
                type="text"
                class="form-input"
                id="fantasyName"
                formControlName="fantasyName"
                placeholder="Digite o nome fantasia se houver">
            </div>
            <div class="form-group">
                <label for="registrationType" class="form-label">Tipo de registro:</label>
                <select 
                class="form-input" 
                id="registrationType"
                formControlName="registrationType" 
                (ngModelChange)="onRegistrationTypeChange($event)">
                    <option value="CNPJ">CNPJ</option>
                    <option value="CPF">CPF</option>
                </select>
            </div>
            <div class="form-group">
                <label for="registrationNumber" class="form-label">Número do registro:</label>
                <input
                [mask]="mask" 
                type="text"
                class="form-input"
                id="registrationNumber"
                formControlName="registrationNumber"
                [placeholder]="registrationPlaceholder"
                >
                <div *ngIf=" clientForm.get('registrationNumber')?.touched && clientForm.get('registrationNumber')?.errors" class="invalid-feedback">
                    {{ getErrorMessage('registrationNumber') }}
                </div>
            </div>
            <div class="form-group">
                <label for="clientCode" class="form-label">Código:</label>
                <input
                mask="0*"
                type="text"
                class="form-input"
                id="clientCode"
                formControlName="clientCode"
                placeholder="Digite o código do cliente"
                >
                <div *ngIf=" clientForm.get('clientCode')?.touched && clientForm.get('clientCode')?.errors" class="invalid-feedback">
                    {{ getErrorMessage('clientCode') }}
                </div>
            </div>
            <div class="form-group">
                <label for="registrationDate" class="form-label">Data da abertura:</label>
                <input id="registrationDate" [matDatepicker]='picker' class="box" formControlName="registrationDate">
                <mat-hint class="hint">Selecione:</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="clientForm.get('registrationDate')?.touched && clientForm.get('registrationDate')?.errors" class="invalid-feedback">
                  {{ getErrorMessage('registrationDate') }}
                </div>
              </div>
            <div class="form-group">
                <label for="companyStatus" class="form-label">Situação do cliente:</label>
                <select 
                class="form-input" id="companyStatus"
                formControlName="companyStatus">
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                    <option value="Suspenso">Suspenso</option>
                </select>
            </div>
            <div class="form-group">    
                <label for="accountantId" class="form-label">Contador:</label>
                <mat-form-field appearance="outline" >
                    <mat-label>Selecione</mat-label>
                    <mat-select id="accountantId" msInfiniteScroll (infiniteScroll)="getNextBatch(accountantId)" [complete]="clientLoadOffset === data.length" formControlName="accountantId">
                        <mat-option *ngFor="let accountant of accountants$ | async" [value]="accountant.id" >{{accountant.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div *ngIf=" clientForm.get('accountantId')?.touched && clientForm.get('accountantId')?.errors" class="invalid-feedback">
                    {{ getErrorMessage('accountantId') }}
                </div>
            </div>
            <div class="form-actions">
                <button 
                    class="btn-cancel"
                    (click)="cancelClient()">
                    Cancelar
                </button>
                <button
                    class="btn-salvar"          
                    (click)="editClient()"
                    [ngClass]="btnEnable()">
                    Salvar
                </button>
            </div>
            <div *ngIf="errorMessage" class="invalid-feedback">
                {{ errorMessage }}
            </div>
        </form>
    </section>
</div>