<tr>
<td class="table-cell-nome">{{ accountant.name }}</td>
<td class="table-cell-cpf">{{ accountant.registrationNumber }}</td>
<td class="table-cell-codigo">{{ accountant.accountantCode }}</td>
<td class="table-cell-situacao">{{ accountant.isActive ? 'Ativo' : 'Inativo' }}</td>
<td class="table-cell-acoes">
  <button class="btn-edit">
      <img src="../../../../assets/images/edit-btn.png" alt="Editar" (click)="mostar()">
  </button>
   <button class="btn-delete">
      <img src="../../../../assets/images/delete-btn.png" alt="Excluir">
  </button>
</td>
</tr>
