.header {
  background: url(../../../assets/images/footer-background.png);
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.header .logo img {
  max-width: 350px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 4rem;
}